body {
	background-color: powderblue;
	font-family: Impact, Charcoal, sans-serif;
}
h1{
	font-size:72px;
}
a{
	font-size:32px;
}

#page-wrap {
	width: 50%;
	left: 50%;
	text-align: center;
	margin: 0 auto;
}

.element {
	-webkit-animantion: pulse 2s infinite;
	animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
	0%, 100% {
		background-color: powderblue;
	}
	50% {
		background-color: #FF0000
	}
}

@keyframes pulse {
	0%, 100% {
		background-color: powderblue;
	}
	50% {
		background-color: #FF0000
	}
}